body {
    width: 100%;
    background: url(download\ \(5\).jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

h3 {
    color: orange;
    text-align: center;
}

p{
   padding: 25px;
   font-weight: bold;
}

h2 {
    color: orange;
    text-align: center;
}

p1{
    padding: 25px;
    font-weight: bold;
}

ul li {
    font-weight: bold;
    font-size: 20px;
}

.link a{
    position: absolute;
    top: 100%;
    left: 40%;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid black;
    color: blue;
    background-color: white;
}

.link a:hover {
    color: orange;
}