body {
    width: 100%;
    background: url(images\ \(2\).jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}
h2 {
    text-align: center;
    color: orange;
    font-size: 30px;
}


.link a{
    position: absolute;
    top: 100%;
    left: 40%;
    font-size: 20px;
    text-decoration: none;
    border: 2px solid black;
    color: blue;
    background-color: white;
}

.link a:hover {
    color: orange;
}
